
<%- include ('./partials/navbar') %>
<div class="accordion" id="accordionExample"></div>
        <% data.forEach(function (obj) { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5><%= obj.title %></h5>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <%= obj.content%>
                <br>
                <div class="footer">
                    <small class="text-muted">By <%= obj.name %> </small>
              </div>
                
            </div>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
   